[project]
	description = Open vSwitch
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Jabar Ali (AliJabar)
[access "refs/for/refs/*"]
	read = group user/Jabar Ali (AliJabar)
	push = group user/Jabar Ali (AliJabar)
	label-Code-Review = -2..+2 group user/Jabar Ali (AliJabar)
	label-Verified = -1..+1 group user/Jabar Ali (AliJabar)
	rebase = group user/Jabar Ali (AliJabar)
	removeReviewer = group user/Jabar Ali (AliJabar)
	submit = group user/Jabar Ali (AliJabar)
[access "refs/heads/*"]
	read = group user/Jabar Ali (AliJabar)
	create = group user/Jabar Ali (AliJabar)
	push = +force group user/Jabar Ali (AliJabar)
	pushMerge = group user/Jabar Ali (AliJabar)
[access "refs/tags/*"]
	push = +force group user/Jabar Ali (AliJabar)
	pushTag = group user/Jabar Ali (AliJabar)
	pushSignedTag = group user/Jabar Ali (AliJabar)
